@{
    ViewData["Title"] = "Home Page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">

<style>

    body {
        background-image: url('https://i.ytimg.com/vi/Es8GN-c7Y1k/maxresdefault.jpg');
        background-size: cover;
        background-position: center;
    }
    header {
        background-color: wheat;

    }
    footer {
        position: fixed;
        bottom: 0;
        text-align: center;
    }
</style>
<div class="text-center">
    <h1 class="display-4" style="font-family: Creepster, system-ui; color: papayawhip">Welcome To The Coffee Shop</h1>
   
</div>
